<h1> Cassandra Frimpong</h1>

<section>
	<div>
		<h2> Profile </h2>
		<p>A 21 year old currently exploring the web development world. This page was created with Andreea at a Rails Girls event, with the help of our amazing coach Charlie! </p> 
	</div>
	<div>
		<h2>Hobbies and Interests</h2>
			<ul>
				<li>Baking</li>
				<li>Coding</li>
			</ul>
	</div>
</section>
